.root {
  padding: 20px;
  z-index: 10000;
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 420px;
  min-width: 300px;
  width: 98%;
  height: fit-content;
  background-color: #4361ee;
  color: #fff;
  border-radius: 10px;

  h2 {
    margin: 0;
    margin-bottom: 10px;
  }
}

.hidden {
  display: none;
}
