$teal: #8ba3b9;

// .show

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  //   visibility: hidden;

  &.hidden {
    display: none !important;
  }

  &.show {
    .bar {
      // transform: scale(1, 1) translate3d(0, 0, 0);
      // transform-origin: 0 0;
      animation: overlayAnimation 1.8s ease 1;
    }
  }

  .bar {
    position: absolute;
    width: 10.1vw;
    background: $teal;
    top: 0;
    bottom: 0;
    // transform: scale(0, 1) translate3d(0, 0, 0);
    // transform-origin: 100% 100%;
    transition: transform 0.3s ease-in-out;
    &:first-of-type {
      border-left: none;
    }

    $light: $teal;
    $dark: mix(black, $teal, 5%);
    @for $x from 1 through 10 {
      &:nth-of-type(#{$x}) {
        left: ($x - 1) * 10vw;
        background: linear-gradient(to right, $light 0%, $dark 100%);
        transition-delay: 0.05s * $x;
      }

      $light: $dark;
      $dark: mix(black, $teal, ($x * 5%));
    }
  }
}

@keyframes overlayAnimation {
  0% {
    transform: scale(0.5, 1) translate3d(0, 0, 0);
    // transform-origin: 0 0;
  }
  20% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    // transform-origin: 100% 100%;
  }
  100% {
    transform: scale(0, 1) translate3d(0, 0, 0);
    // transform-origin: 0 0;
  }
}
